.container {
    width:80%;
    margin-left: 10%;
}
.title{
    color: crimson;
    font-weight: bold;
    font-size: 150%;
}
.text{
    color: grey;
    line-height: 22px;
    font-size: 20px;
    padding-top:10px;
    padding-left: 10px;
}


/* last task */

.wrapp_for_all_two{
    display: flex;
    flex-direction: column;

}
.wrapper{
    flex-wrap: wrap;
    width: 200px;
}
.title_two{
    color: violet;
}
.subtitle_two{
    color: violet;
}
.address-block{
    color: darkviolet;
}




